<head>
	<style>
		body { padding-top: 150px; }
		@media screen and (max-width: 768px) {
		body { padding-top: 140px; }
		}
		
		
	</style>

</head>

<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
	
	<!-- Navbar CSS -->
	<link href="css/navbar.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" >
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#page-top">Digital Systems Simulation Suite</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li class="page-scroll">
					<a href="http://digital-systems-suite.web44.net/">Home</a>
				</li>
				<li class="page-scroll">
					<a href="evaluate.php">Evaluate</a>
				</li>
				<li class="page-scroll">
					<a href="compare.php">Compare</a>
				</li>
				<li class="page-scroll">
					<a href="derive.php">Derive</a>
				</li>
				<li class="page-scroll">
					<a href="simplify.php">Simplify</a>
				</li>
				<li class="page-scroll">
					<a href="http://digital-systems-suite.web44.net/#faq">FAQ</a>
				</li>
				<li class="page-scroll">
					<a href="http://digital-systems-suite.web44.net/#contact">Contact</a>
				</li>
				<li class="page-scroll">
					<a href="http://digital-systems-suite.web44.net/#about">About</a>
				</li>
				
				
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/freelancer.js"></script>